body {
  background-color: black;
  font-family: Inter;
}

.header {
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dotted gray;
}

.header span {
  font-size: 30px;
  font-weight: 500;
}